.DS_Store
.gitignore
.project
*.sublime-project
*.sublime-workspace
*.tmproj
*.bak
*.swp
*~.nib
/errors/
/install.php
/lib/Zend/
/lib/Varien/
/LICENSE*
/media/import/
/media/catalog/
/php.ini.sample
/pkginfo/
/RELEASE_NOTES.txt
/var*
var/cache*
var/session*