/*@td-stencil: 'Allerta Stencil', sans-serif;*/.productcode {
  float: right;
  background-color: #CC;
  color: #FFF;
  padding: 0px 2px;
  text-transform: uppercase;
  font-size: 10px;
}
.productcode a {
  color: #F00;
}
.item-wrap {
  /*background-color: #f1f1f1;*/

  min-height: 128px;
}
/*.item-price {
text-align: left; 
float: left;
}*/
/*.item-content {
	padding-left: 4px;
	position: absolute;
	bottom: 42px;
	width: 100%;	
}*/
.td-label {
  background-color: red;
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
  margin: 0px 4px;
}
.td-label.yellow {
  background-color: #ffb400;
}
.td-label.blue {
  background-color: #0495d7;
  color: white;
}
.toolbar .pager .pages > ol li.current {
  background-color: #0495d7 !important;
  background-image: none !important;
  filter: none !important;
}
.badges .ico-product.ico-sale {
  background-color: #0495d7 !important;
}
.price-box .special-price .price {
  color: #ec1c24 !important;
  font-weight: 800;
}
.product-sku {
  /*background-color: rgb(255, 255, 212);*/

  background-color: #f1f1f1;
  padding: 2px 4px;
  margin-bottom: 20px;
  /*display: inline;*/

  font-size: 10px;
  /*float: right;*/

  border-radius: 2px;
  margin-top: 4px;
}
.products-list .link-wishlist:after,
.products-list .link-compare:after,
.products-list .btn-cart:after {
  background-color: #ec1c24 !important;
  background-image: none !important;
  filter: none;
  color: #fff;
}
.td-logo-mini {
  /*background-color: red;*/

  color: white;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
  /*background-color: @td-blue;*/

  background-image: url(http://www.trade-depot.co.nz/magento/skin/frontend/default/sns_i8style/images/trade-depot-logo-mini.png) !important;
  background-repeat: no-repeat;
  /*-webkit-background-size: 50%;*/

  /*background-size: 50%;*/

  background-size: 33px 30px;
}
.item-des {
  text-align: center;
  font-size: 1em;
  padding: 0px 4px;
  letter-spacing: -0.01em;
  line-height: 1.4em;
  font-size: .8em;
  color: #0372a5;
}
.item-title {
  /*text-align: center;*/

  /*padding-left: 4px;*/

  /*padding: 0px 8px;*/

  font-size: 1em;
  font-weight: 800;
  letter-spacing: -0.06em;
}
.item-title a {
  color: #025073;
}
.products-grid .item .item-inner .btn-cart {
  background: #ffb400 !important;
}
.products-grid .item .item-inner .link-compare {
  background: #0495d7 !important;
}
.products-grid .item .item-inner .link-wishlist {
  background: #ec1c24 !important;
}
.banner:hover:before {
  background: rgba(255, 255, 255, 0.2) !important;
}
#sns_menu {
  background-color: #0495d7;
  background-image: url(http://www.trade-depot.co.nz/magento/skin/frontend/default/sns_i8style/images/blueprint-grid-white.png) !important;
  height: 128px;
}
#sns_menu.keep-menu {
  height: 58px;
  background-color: #0495d7 !important;
}
#sns_header_top {
  background-color: #025073 !important;
}
#sns_wraper_footer {
  background-size: auto !important;
  background-color: #0495d7;
  background-image: url(http://www.trade-depot.co.nz/magento/skin/frontend/default/sns_i8style/images/blueprint-grid-white.png) !important;
}
#sns_wraper_footer a {
  color: #78d3fc !important;
}
#sns_wraper_footer .sns-social ul li .fa {
  color: #78d3fc !important;
}
.item-inner {
  background-color: white;
}
.block_border {
  background-color: white;
}
/*CHANGES THE LOOK OF THE GRADIENT GRID/LIST VIEW BUTTONS*/
.toolbar .view-mode strong {
  background-color: #0495d7;
  background-image: none !important;
}
/*MENU CUSTOMISATION*/
#sns_custommenu ul.mainnav li.level0 a {
  color: #dcf3fe !important;
}
#sns_custommenu ul.mainnav li.level0.active a {
  color: white !important;
  font-weight: normal !important;
}
#sns_custommenu ul.mainnav li.level0:hover a {
  color: white !important;
  border: 1px solid white !important;
}
#sns_custommenu ul.mainnav li.level0 .wrap_dropdown a {
  color: #0372a5 !important;
}
#sns_custommenu ul.mainnav li.level0 .wrap_dropdown a:hover {
  color: #025073 !important;
}
#sns_custommenu ul.mainnav li.level0 div.wrap_submenu ul.level0 > li a {
  color: red !important;
}
#sns_custommenu ul.mainnav li.level1.active a {
  color: #0495d7 !important;
}
#sns_custommenu ul.mainnav li .wrap_dropdown ul.mainnav li.level0:hover a {
  color: #0495d7 !important;
}
#sns_custommenu ul.mainnav li .wrap_dropdown ul.mainnav li.level0:hover a:hover {
  color: #025073 !important;
}
/*#sns_menu.keep-menu {
	background-color: darken(@td-blue, 20%) !important;
}*/
.go.gfont {
  padding: 4px 6px !important;
}
/*SEARCH BOX CUSTOMISATION*/
.block_topsearch .form-search input {
  border: 1px solid #FFF !important;
  color: white;
}
.block_topsearch .form-search input:focus {
  background-color: #025073 !important;
}
.block_topsearch .form-search button {
  color: #FFF !important;
}
.sns-revolutionslider {
  background-color: #ec1c24;
}
/*MAKE LESS PADDING SO THE NARROW BY SLIDER FITS ON ONE LINE*/
#sns_content .block.block-layered-nav dl#narrow-by-list dd {
  margin: 0;
  padding: 5px 14px 14px !important;
}
#sns_content .block.block-layered-nav dl#narrow-by-list dd .price .text-box input[type="text"] {
  width: 46px !important;
}
/*MAKE THE PRODUCT GRID VIEW ITEMS HAVE SOME SPACE AFTER THEM.*/
.sns-producttabs .sns-pdt-container .sns-pdt-content .pdt-content .products-grid .item {
  margin-bottom: 64px !important;
}
#sns_custommenu .wrap_dropdown.fullwidth {
  top: 128px !important;
}
.item-inner {
  height: 280px !important;
  border: 1px solid #E5E5E5 !important;
  padding: 6px;
  background-color: white !important;
}
.sns-revolutionslider {
  background-color: #ec1c24;
  background-image: url(http://www.trade-depot.co.nz/magento/skin/frontend/default/sns_i8style/images/td-logo-tile-bw.png) !important;
  background-repeat: repeat;
}
.grass-bg {
  background-color: #669900;
  background-image: url(http://www.trade-depot.co.nz/magento/skin/frontend/default/sns_i8style/images/grass.jpg) !important;
  background-repeat: repeat;
}
.dark-bg {
  background-color: #011620;
  background-image: url(http://www.trade-depot.co.nz/magento/skin/frontend/default/sns_i8style/images/dark.jpg) !important;
  background-repeat: no-repeat;
  background-position: bottom center;
}
