/*@td-stencil: 'Allerta Stencil', sans-serif;*/.productcode {
  float: right;
  background-color: #CC;
  color: #FFF;
  padding: 0px 2px;
  text-transform: uppercase;
  font-size: 10px;
}
.productcode a {
  color: #F00;
}
.item-des {
  text-align: left;
  font-size: .9em;
}
.item-content {
  padding-left: 4px;
}
.product-sku {
  background-color: #ffffd4;
  padding: 2px 4px;
  margin-bottom: 20px;
  display: inline;
  font-size: 10px;
}
.item-title {
  text-align: left;
  padding-left: 4px;
}
.item-title a {
  color: #0495d7;
  font-size: 1.2em;
}
.products-grid .item .item-inner .btn-cart {
  background: #f0ad4e !important;
}
.products-grid .item .item-inner .link-compare {
  background: #0495d7 !important;
}
.products-grid .item .item-inner .link-wishlist {
  background: #ec1c24 !important;
}
.banner:hover:before {
  background: rgba(255, 255, 255, 0.2) !important;
}
/*#sns_wrapper {
	background-repeat: repeat;
}*/
#sns_menu {
  background-image: none;
  background-color: #0495d7;
  background-image: url(http://www.trade-depot.co.nz/magento/skin/frontend/default/sns_i8style/images/blueprint-grid-white.png) !important;
}
#sns_header_top {
  background-color: #025073;
}
.item-inner {
  background-color: white;
}
.block_border {
  background-color: white;
}
/*CHANGES THE LOOK OF THE GRADIENT GRID/LIST VIEW BUTTONS*/
.toolbar .view-mode strong {
  background-color: #0495d7;
  background-image: none !important;
}
/*MENU CUSTOMISATION*/
#sns_custommenu ul.mainnav li.level0 a {
  color: #dcf3fe !important;
}
#sns_custommenu ul.mainnav li.level0.active a {
  color: white !important;
}
#sns_custommenu ul.mainnav li.level0:hover a {
  color: white !important;
  border: 1px solid white !important;
}
#sns_custommenu ul.mainnav li.level0 div.wrap_submenu ul.level0 > li a {
  color: red !important;
}
#sns_custommenu ul.mainnav li.level1.active a {
  color: #0495d7 !important;
}
/*#sns_custommenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li a {
display: block;
padding: 3px 10px;
color: magenta !important;
}*/
/*SEARCH BOX CUSTOMISATION*/
.block_topsearch .form-search input {
  border: 1px solid #FFF !important;
  color: white;
}
.block_topsearch .form-search input:focus {
  background-color: #025073 !important;
}
.block_topsearch .form-search button {
  color: #FFF !important;
}
