@import url(variables.less);

.productcode {
  float:right; background-color: #CC; color: #FFF; padding:0px 2px; text-transform: uppercase; font-size:10px;
  a {
  	color: #F00;
  }
}

.item-des {
	text-align: left;
	font-size: .9em;
}

.item-content {
	padding-left: 4px;
}

.product-sku {
	background-color: rgb(255, 255, 212);
	padding: 2px 4px;
	margin-bottom: 20px;
	display: inline;
	font-size: 10px;
}

.item-title {
	text-align: left;
	padding-left: 4px;
	a {
		color: @td-blue;
		font-size: 1.2em;
	}
}




.products-grid .item .item-inner {
	.btn-cart {
	background: @td-yellow !important;
	}
	.link-compare {
	background: @td-blue !important;
	}
	.link-wishlist {
	background: @td-red !important;
	}
}

.banner:hover:before {
background: rgba(255,255,255,0.2) !important;
}

/*#sns_wrapper {
	background-repeat: repeat;
}*/

#sns_menu {
	background-image: none; 
	background-color: @td-blue;
	background-image: url(http://www.trade-depot.co.nz/magento/skin/frontend/default/sns_i8style/images/blueprint-grid-white.png) !important;
}

#sns_header_top {
	background-color: darken(@td-blue, 20%);
}

.item-inner {
	background-color: white;
}

.block_border {
background-color: white;
}

/*CHANGES THE LOOK OF THE GRADIENT GRID/LIST VIEW BUTTONS*/
.toolbar .view-mode strong {
background-color: @td-blue;
background-image: none !important;
}

/*MENU CUSTOMISATION*/
#sns_custommenu {
	ul {
		&.mainnav {
			li {
				&.level0 {
					a {
						color: lighten(@td-blue, 50%) !important;
					}
					&.active {
						a {
						color: white !important;
						}
					}
					&:hover {
						a {
							color: white !important;
							border: 1px solid white !important;
						}
					}
					div.wrap_submenu ul.level0 > li a {
						color: red !important;
					}
				}
				&.level1 {
					&.active {
						a {
							color: @td-blue !important;
						}
					}
				}
			}
		}
	}
}

/*#sns_custommenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li a {
display: block;
padding: 3px 10px;
color: magenta !important;
}*/



/*SEARCH BOX CUSTOMISATION*/
.block_topsearch {
		.form-search {
			input {
			border: 1px solid #FFF !important;
			color: white;
			&:focus {
				background-color: darken(@td-blue, 20%) !important;
			}
		}
		button {
			color: #FFF !important;
		}
	}
}








